.ss-tweaks__leaderboard-buttons {
    display: flex;
	background-color: transparent !important;
	padding: 0;
}
 
.ss-tweaks__icon {
    height: 15px;
}
 
.ss-tweaks__button {
    width: 29px;
	height: 29px;
    border-radius: 4px;
    background-color: var(--gray);
 
	display: flex;
	align-items: center;
	justify-content: center;
}

.ss-tweaks__button:not(:last-child) {
    margin-right: 12px;
}
 
.ss-tweaks__button:hover {
    transition: all .5s;
	background-color: var(--gray-light);
}
 
.ss-tweaks__button:active svg path {
	fill: var(--scoreSaberYellow);
}
